---
import BaseLayout from "../layouts/BaseLayout.astro";
import '../styles/index.css';
---

<BaseLayout pageTitle="About Us">
    <main class="w-3/4 mx-auto">
        <h1 class="font-black font-mono text-center my-4 text-4xl">About Us</h1>
        <div class="my-4 text-center">
            <p class="text-2xl">Content is still in construction!!!</p>
        </div>
    </main>
</BaseLayout>