---

---

<footer class="grid lg:grid-cols-4 grid-cols-2 items-center p-16 bg-color">
    <div class="me-3">
        <h3 class="font-bold text-xl mb-3">Join our newletter for more updates</h3>
        <form>
            <div class="border-2 border-gray-400 rounded-lg newsletter-div">
                <input type="text" placeholder="email" class="form-input border-none" />
                <a href="/signup" role="button" class="bg-indigo-600 text-white rounded-lg px-5 py-2 font-semibold hover:bg-indigo-700">
                    Signup
                </a>
            </div>
        </form>
    </div>
    <div>
        <h3 class="font-bold text-xl mb-2 border-btm">Links</h3>
        <ul>
            <li class="mb-1 text-lg font-semibold hover:text-indigo-600"><a href='/'>Home</a></li>
            <li class="mb-1 text-lg font-semibold hover:text-indigo-600"><a href='/'>Blog</a></li>
            <li class="mb-1 text-lg font-semibold hover:text-indigo-600"><a href='/'>About</a></li>
        </ul>
    </div>
    <div>
        <h3 class="font-bold text-xl mb-2 border-btm">Privacy</h3>
        <ul>
            <li class="mb-1 text-lg font-semibold hover:text-indigo-600"><a href='/'>Privacy Policy</a></li>
            <li class="mb-1 text-lg font-semibold hover:text-indigo-600"><a href='/'>Terms and Conditions</a></li>
        </ul>
    </div>
    <div>
        <h3 class="font-bold text-xl mb-2 border-btm">Account</h3>
        <ul>
            <li class="mb-1 text-lg font-semibold hover:text-indigo-600"><a href='/'>Login</a></li>
            <li class="mb-1 text-lg font-semibold hover:text-indigo-600"><a href='/'>Signup</a></li>
        </ul>
    </div>
    
</footer>