---

---

<header class="bg-slate-50 p-3">
    <nav class="flex justify-around items-center">
        <a class="flex items-center" href="/">
            <img class="rounded-full" src="../../../assets/images/dubai.png" width="40px" height="40px" alt="site-logo" />
            <h2 class="font-black ms-3">Ed-Tech</h2>
        </a>
        <ul class="flex w-1/4 justify-evenly font-bold">
            <li class="me-3 text-indigo-800 hover:text-pink-900"><a href="/">Home</a></li>
            <li class="me-3 text-indigo-800 hover:text-pink-900"><a href="/blog">Blog</a></li>
            <li class="me-3 text-indigo-800 hover:text-pink-900"><a href="/about">About Us</a></li>
        </ul>
        <div >
            <a href="/" role="button" class="bg-indigo-600 text-white rounded-lg px-5 py-1 me-5 font-semibold hover:bg-indigo-700">Login</a>
            <a href="/" role="button" class="bg-red-600 text-white rounded-lg px-5 py-1 me-5 font-semibold hover:bg-red-700">Signup</a>
        </div>
    </nav>
</header>