---

---

<div class="bg-indigo-500 p-3">
    <nav class="flex justify-around items-center">
        <ul class="flex font-bold">
            <li class="me-5 text-white hover:text-yellow-300"><a href="/dinos">Dinosaurs</a></li>
            <li class="me-5 text-white hover:text-yellow-300"><a href="/premise">Biomes</a></li>
            <li class="me-5 text-white hover:text-yellow-300"><a href="/posts">FakePosts</a></li>
            <li class="me-5 text-white hover:text-yellow-300"><a href="/countries">Countries</a></li>
            <li class="me-5 text-white hover:text-yellow-300"><a href="/destinations">Destinations</a></li>
        </ul>
    </nav>
</div>